.whiteboard-container {
  display: grid;
  grid-template-rows: 0.95fr 0.1fr;
  grid-template-areas:
    "whiteboard"
    "toolbar";
}

.whiteboard {
  border: 5px solid black;
  width: 100%;
  grid-area: whiteboard;
}

.toolbar {
  padding: 10px;
  background: gray;
  grid-area: toolbar;
}